

<div class="header">

<!--  <h2> {{title}} </h2> -->
  <a href="/{{title}}/updatesite"><img src="/{{customer_logo}}"></a>

		</div>


		<div class="nav">
		<!-- <h2>Hellosign</h2> -->
		<a href="/">Home</a>
  		<a href=/{{title}}/createtemplate>Create a Template</a>
  		<a href=/{{title}}/dashboards>Dashboards</a>
  		<a style="float:right" href=/{{title}}/signup>Sign Up!</a>

	</div>
  <style>

  .header {
    background-color: {{primary_color}};

  }


  </style>
